/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(10, 9, 45);
    color: #ffffff;
    margin: 10px;
    align-items: center;
}

.title {
    font-size: 36px;
    color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    text-align: center;
}

input::placeholder {
    color: #ffffff;
    font-size: 1rem;
}

.button1 {
    margin: 0;
    align-items: center;
    border: .125rem solid #0000;
    border-radius: .5rem;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font: inherit;
    justify-content: center;
    position: relative;
    width: fit-content;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
    min-height: 2.5rem;
    font-weight: 600;
    font-size: .875rem;
    letter-spacing: normal;
    line-height: 1.4285714285714286;
    border-color: rgb(88,99,128);
    color: #f6f7fb;
    background: rgb(10, 9, 45);
    padding: .375rem .875rem;
}

.button1:hover {
    background-color: rgb(67, 75, 97);
}

.button2 {
    margin: 0;
    align-items: center;
    border: .125rem solid #0000;
    border-radius: .5rem;
    box-sizing: border-box;
    display: flex;
    font: inherit;
    justify-content: center;
    position: relative;
    width: fit-content;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
    min-height: 2.5rem;
    font-weight: 600;
    font-size: .875rem;
    letter-spacing: normal;
    line-height: 1.4285714285714286;
    color: #fff;
    cursor: default;
    padding: .375rem .875rem;
    background: rgb(88,99,128);
}

.button2:hover {
    background-color: rgb(67, 75, 97);
}

.create-button {
    margin-top: 10px;
    align-items: center;
    border: .125rem solid #0000;
    border-radius: .5rem;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font: inherit;
    justify-content: center;
    position: relative;
    width: fit-content;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
    min-height: 2.5rem;
    font-weight: 600;
    font-size: .875rem;
    letter-spacing: normal;
    line-height: 1.4285714285714286;
    border-color: rgb(88,99,128);
    color: #f6f7fb;
    background: rgb(10, 9, 45);
    padding: .375rem .875rem;
}

.create-button:hover {
    background-color: rgb(67, 75, 97);
}

.input {
    box-sizing: inherit;
    margin: 0;
    padding: .5rem;
    font: 12px/18px hurme_no2-webfont,-apple-system,BlinkMacSystemFont,sans-serif;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1.5;
    appearance: none;
    border: none;
    box-shadow: none;
    color: rgb(255, 255, 255);
    cursor: text;
    filter: none;
    flex: 1 1 auto;
    background-color: rgb(88,99,128);
    padding-right: 1rem;
    border-radius: .5rem;
}